Brazil
Donnie Darko
Gone Girl
Whiplash
The Wrecking Crew
Citizen Kane
Requiem for a Dream
Riot Club
A Face In The Crowd
Dogma
1984
Being John Malkovich
The Silence of the Lambs
Das Boot
Watchmen
Brokeback Mountain
M
Der Dritte Mann
Contact
My Fair Lady
Primer
The Graduate
Gattaca
Solaris
West Side Story
